@using Northwind.Helpers
@model IEnumerable<Category>

<h2>Categories</h2>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <strong>Category ID:</strong> @category.CategoryID <br />
            <strong>Category Name:</strong> @category.CategoryName <br />
            @if (category.Picture != null)
            {
                @Html.ImageLink(category.CategoryID.ToString(),
                         $"<img src='/images/{category.CategoryID}' alt='{category.CategoryName}' width='100' height='100' />")
            }
            else
            {
                <p>No image available</p>
            }
            <br />
            <a href="@Url.Action("Edit", "Category", new { id = category.CategoryID })">Edit Image</a>
        </li>
    }
</ul>

@section Footers {
    <p style="color: red; font-weight: bold;">Warning: You cannot edit categories.</p>
}